html, body {
    background-color: black;
    height: 100%;
}

.navbar {
    background-color: rgb(243, 206, 19);
    color: white;
}

.navbar-brand {
    text-size-adjust: 24;
    font-weight: bolder;
}

.nav-link {
    text-size-adjust: 26;
    font-weight: bolder;
}

.parallax {
    height: 100vh;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#firstTrans {
    position: absolute;
    margin-top: 8%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 0;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.95;
}

p {
    margin-right: 5%;
    margin-left: 5%;
    font-weight: bold;
    font-size: large;
    color: #000000;
}

.img-responsive {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 600px;
    height: 400px;
}

.h1 {
    margin-top: 120px;
}

#imdb-table {
    color:black;
    background-color: white;
    margin-left: 0;
}

.filter {
    background-color: black;
    margin-top: 8%;
}

label {
    color:rgb(243, 206, 19);
}

.form-control {
    background-color:rgb(243, 206, 19);
}

#SVM1 {
    margin-top: 0%;
    margin-bottom: 3%;
    width: 80%;
    height: 80%;
}

#SVM2 {
    margin-top: 0%;
    margin-bottom: 3%;
    width: 30%;
    height: 30%;
}

tableauPlaceholder { 
    margin-top: 5%;
    margin-bottom: 7%;


    
}